@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: rgba(0, 0, 0, 0, 0.7);
    /* font-family: 'Viaoda Libre', cursive; */
    font-family: 'Benne', serif;
    font-size: 18px;
    background: url("../images/fronds-1869757_1920.jpg");
    width: 100vw;
    height: 100vh;
    color: white;
}

header {
    /*to show icon in line with text*/
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

footer {
    height: 100px;
    bottom: 0;
}

h1 {
    /* font-family: 'Viaoda Libre', cursive; */
    font-size: 30px;
    text-align: center;
    margin: auto 0;
}

p {
    margin: 10px;
}


/* ---instructions box */

#instructions {
    display: block;
    /* font-size: 16px; */
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-align: center;
    /* z-index: 1; */
    margin: auto;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

#note {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1em;
    padding-bottom: 10px;
}


/* styling for help icon*/

.far {
    color: #B13477;
    font-size: xx-large;
    padding-left: 25px;
}


/* styling for avatars in the instructions box */

#avatars {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    width: 50%;
}


/* Styling for help icon */

#help-button {
    margin: 10px auto;
}

.avatar {
    margin: auto;
}


/* styling for red avatar (Evil Boy) - designated for computer */

#avatar1 img {
    border: rgba(0, 0, 0, 0.7) solid 2px;
    background: #fafafa;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* styling for blue and yellow avatars for the player*/

#avatar2 img,
#avatar3 img {
    border: #fafafa solid 2px;
    background: rgba(0, 0, 0, 0.7);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* makes avatar icon bigger when clicked */

#avatar2 img:active,
#avatar3 img:active {
    transform: scale(120%);
}

ol {
    text-align: left;
    width: auto;
}


/* Sytling for "Let's go" button */

button {
    display: block;
    border: black solid 1px;
    border-radius: 10px;
    height: 2.5em;
    width: 30%;
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(165, 20, 108, 0.7);
    color: white;
    margin-top: 30px;
}

button:active {
    transform: scale(120%);
}

.controls {
    width: 70px;
    height: 70px;
}

#lets-go {
    margin: auto;
}


/* ---Main game area */


/* game area section */

#game-area {
    background: rgba(0, 0, 0, 0.7);
    width: 70%;
    margin: auto;
    height: 600px;
}

#game-container {
    display: block;
    height: 620px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: rgba(0, 0, 0, 0, 0.7) solid 1px;
}


/* div at the top of the board to hold results */

#results {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 0 20px -70px;
    padding-top: 20px;
}

.result-box {
    margin-right: 30px;
}

#game-board {
    float: left;
    height: inherit;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 5%;
}


/* #game-controls {
            display: flex;
            flex-direction: column;
            float: left;
            height: inherit;
            width: auto;
            padding: 20px;
        } */

#controls-container-mob {
    visibility: hidden;
}

.board-edge {
    height: 1.5em;
    border-bottom: white solid 1px;
    margin-top: 2px;
    font-size: 1.5em;
}

#end {
    text-align: right;
    /* border-top: rgba(0, 0, 0, 0.7) solid 1px; */
    border-bottom: none;
}


/*game board styling */

.board-row {
    display: flex;
    flex-direction: row;
}

.field {
    display: flex;
    align-items: flex-end;
    border: rgba(255, 255, 255, 0.5) solid 1px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    text-align: right;
    vertical-align: bottom;
    margin: 5px;
    padding: 5px;
    font-size: 28px;
}


/* Styling for avatars when on the board */

img.avatar {
    border: #fafafa solid 1px;
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    margin: 30px auto;
    border-radius: 50%;
    align-items: flex-end;
    justify-content: flex-end;
}

.ai img {
    border: rgba(0, 0, 0, 0.7) solid 1px;
    background: #fafafa;
}

img.snake,
img.ladder {
    background: none;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0;
}

img.snake {
    top: 50px;
    height: 65px;
    /* right: 25px; */
}

img.ladder {
    bottom: 35px;
    left: 0px;
    height: 80px;
    width: 60%;
}


/* Styles for start and end fields */

#f1,
#f25 {
    background-color: rgba(40, 143, 144, 1);
    border: rgba(40, 143, 144, 1) solid 1px;
    color: #fafafa;
}

#start-game-btn {
    margin-top: 200px;
}

#dice {
    display: none;
    margin-top: 200px;
}

.dice img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

@media screen and (max-width: 425px) {
    header {
        height: 70px;
    }
    h1 {
        font-size: 26px;
    }
    #instructions {
        font-size: 14px;
    }
    #game-container {
        display: block;
        width: 320px;
        height: auto;
        margin: 0 auto;
    }
    #game-board {
        margin-left: 0;
    }
    .far {
        color: #B13477;
        font-size: x-large;
        padding-left: 10px;
    }
    /* div at the top of the board to hold results */
    #results {
        width: 100%;
        font-size: 0.9em;
    }
    .board-edge {
        height: 1.3em;
        font-size: 1em;
    }
    .board-row {
        display: flex;
        flex-direction: row;
    }
    .field {
        width: 45px;
        height: 45px;
        margin: 2px;
        padding: 2px;
        font-size: 18px;
    }
    /* Styling for avatars when on the board */
    img.avatar {
        width: 20px;
        height: 20px;
    }
    img.snake {
        top: 50px;
        height: 45px;
        margin-bottom: 20px;
        /* right: 25px; */
    }
    img.ladder {
        bottom: 35px;
        margin-left: 10px;
        height: 60px;
        width: 60%;
    }
    #start-game-btn {
        margin-top: 0;
    }
    .dice img {
        width: 55px;
        height: 55px;
        margin-top: 0px;
        display: table-cell;
        clear: both;
    }
    .controls {
        width: 55px;
        height: 55px;
        font-size: 0.8em;
    }
    button {
        display: inline-block;
        margin-top: 0;
    }
}