@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

/* colors */


/* charcoal */


/* off-white */


/* light grey */

body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0, 0.7)
}

header {
    height: 200px;
}

footer {
    height: 100px;
}

h1 {
    font-family: 'Viaoda Libre', cursive;
    padding-top: 100px;
    text-align: center;
    margin: auto 0;
}

#game-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 700px;
    /* background: #15194B; */
    display: block;
    margin: 0 auto;
    /* color: white; */
}

#game-board {
    /* background: tomato; */
    display: flex;
    flex-direction: column;
    float: left;
    height: inherit;
    width: 80%;
}

#game-controls {
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    float: left;
    height: inherit;
    width: 20%;
}

table {
    padding: 10px;
    height: 100%;
    width: 100%;
}

td {
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Viaoda Libre', cursive;
    font-size: 1.5em;
}

.field {
    /* background: #B13477; */
    border: rgba(0, 0, 0, 0.1) solid 2px;
    width: 60px;
    height: 60px;
    border-radius: 10%;
    text-align: right;
    vertical-align: bottom;
    margin: 5px;
    padding: 5px;
    font-size: 28px;
    /* color: #ffffff; */
}

#avatars {
    color: rgba(0, 0, 0, 0.7);
}

#help-button {
    margin: 0 auto;
    margin-top: 20px;
}

.div-controls {
    border: black solid 2px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
}