@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

/* colors */


/* pink = #B13477 */


/* rgba(0,0,0,0.7) - charcoal*/


/* off-white */


/* light grey */


/* main elements */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: rgba(0, 0, 0, 0, 0.7);
    font-family: 'Viaoda Libre', cursive;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

footer {
    height: 100px;
    bottom: 0;
}

h1 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto 0;
}

p {
    margin: 10px;
}


/* ---instructions box */

#instructions {
    display: block;
    /* font-size: 16px; */
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-align: center;
    /* z-index: 1; */
    margin: 50px auto;
}

#note {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1em;
    padding-bottom: 10px;
}


/* styling for help icon*/

.far {
    color: #B13477;
}


/* styling for avatars in the instructions box */

#avatars {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    width: 50%;
}


/* Styling for help icon */

#help-button {
    margin: 10px auto;
}

.avatar {
    margin: auto;
}


/* styling for red avatar (Evil Boy) - designated for computer */

#avatar1 img {
    border: rgba(0, 0, 0, 0.7) solid 2px;
    background: #fafafa;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* styling for blue and yellow avatars for the player*/

#avatar2 img,
#avatar3 img {
    border: #fafafa solid 2px;
    background: rgba(0, 0, 0, 0.7);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* makes avatar icon bigger when clicked */

#avatar2 img:active,
#avatar3 img:active {
    transform: scale(120%);
}

ol {
    text-align: left;
    width: 90%;
    margin-left: 7%;
}


/* Sytling for "Let's go" button */

button {
    display: block;
    border: black solid 1px;
    border-radius: 10px;
    height: 2.5em;
    width: 30%;
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(165, 20, 108, 0.7);
    color: white;
    margin-top: 30px;
}

button:active {
    transform: scale(120%);
}

.controls {
    width: 70px;
    height: 70px;
}


/* ---Main game area */


/* box to hold and display dice throw results */

#game-container {
    display: block;
    height: 500px;
    width: 620px;
    margin: 0 auto;
    /* background: lightblue; */
    padding: 20px;
    border: rgba(0, 0, 0, 0, 0.7) solid 1px;
}

#results {
    background-color: rgba(40, 143, 144, 0.2);
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin: auto;
}

.result-box {
    margin-right: 30px;
}

#game-board {
    float: left;
    height: inherit;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 5%;
}

#game-controls {
    display: flex;
    flex-direction: column;
    float: left;
    height: inherit;
    width: auto;
    padding: 20px;
}

.board-edge {
    height: 1.5em;
    border-bottom: rgba(0, 0, 0, 0.7) solid 1px;
    margin-top: 2px;
    font-size: 1.5em;
}

#end {
    text-align: right;
    border-top: rgba(0, 0, 0, 0.7) solid 1px;
    border-bottom: none;
}


/*game board styling */

.board-row {
    display: flex;
    flex-direction: row;
}

.field {
    display: flex;
    align-items: flex-end;
    /* justify-content: flex-end; */
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 10%;
    text-align: right;
    vertical-align: bottom;
    margin: 5px;
    padding: 5px;
    font-size: 28px;
}


/* Styling for avatars when on the board */

img.avatar {
    border: #fafafa solid 1px;
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    margin: 30px auto;
    border-radius: 50%;
    align-items: flex-end;
    justify-content: flex-end;
}

.ai img {
    border: rgba(0, 0, 0, 0.7) solid 1px;
    background: #fafafa;
}

img.snake,
img.ladder {
    background: none;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0;
}

img.snake {
    top: 50px;
    height: 65px;
    /* right: 25px; */
}

img.ladder {
    bottom: 35px;
    left: 0px;
    height: 80px;
    width: 60%;
}


/* Styles for start and end fields */

#f1,
#f25 {
    background-color: rgba(40, 143, 144, 1);
    color: #fafafa;
}

#start-game-btn {
    margin-top: 200px;
}

#dice {
    display: none;
}

.dice img {
    /* border: rgba(165, 20, 108, 1); */
    width: 70px;
    height: 70px;
    /* position: absolute; */
    margin-top: 200px;
    background-color: rgba(165, 20, 108, 0.7);
    /* background-color: rgba(154,0,194,1); */
    border-radius: 10px;
    /* display: none; */
}