@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

/* colors */


/* pink = #B13477 */


/* rgba(0,0,0,0.7) - charcoal*/


/* off-white */


/* light grey */

body {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0, 0.7);
    font-family: 'Viaoda Libre', cursive;
    font-size: 18px;
}


/* main elements */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    clear: both;
}

footer {
    height: 100px;
    bottom: 0;
}

h1 {
    font-family: 'Viaoda Libre', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto 0;
}

hr {
    width: 90%;
}


/* ---instructions box */

#instructions {
    display: block;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.1);
    border: rgba(0, 0, 0, 0.1) solid 2px;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.3em;
    font-family: 'Viaoda Libre', cursive;
    font-size: 1.2em;
    text-align: center;
    z-index: 1;
    margin: 50px auto;
    margin-bottom: 1000px;
    /*bottom margin to prevent gameboard from being visible when instructions block is activated after the first load */
}


/* styling for help icon*/

.far {
    color: #B13477;
}


/* styling for avatars in the instructions box */

#avatars {
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
}

#help-button {
    margin: 0 auto;
}

.avatar {
    margin: auto;
}


/* styling for red avatar (Evil Boy) - designated for computer */

#avatar1 img {
    border: rgba(0, 0, 0, 0.7) solid 2px;
    background: #fafafa;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* styling for blue and yellow avatars for the player*/

#avatar2 img,
#avatar3 img {
    border: #fafafa solid 2px;
    background: rgba(0, 0, 0, 0.7);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
}


/* ---Main game area */

#game-container {
    height: 500px;
    width: 620px;
    display: block;
    margin: 0 auto;
    /* background: lightblue; */
    padding: 20px;
    border: rgba(0, 0, 0, 0, 0.7) solid 1px;
}

#game-board {
    float: left;
    height: inherit;
    width: auto;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 5%;
}

#game-controls {
    display: flex;
    flex-direction: column;
    float: left;
    height: inherit;
    width: auto;
    padding: 20px;
}


/*game board styling */

.board-row {
    display: flex;
    flex-direction: row;
}

.field {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 10%;
    text-align: right;
    vertical-align: bottom;
    margin: 5px;
    padding: 5px;
    font-size: 28px;
}


/* Styling for avatars on the board */

.field img {
    /* width: 50%; */
    border: #fafafa solid 2px;
    background: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    /* position: relative; */
    /* bottom: 60%; */
}


/* ___styling for avatars when in the board */


/* Styles for start and end fields */

#f1,
#f25 {
    background-color: rgba(72, 168, 4, 1)
}

.dice img {
    /* border: rgba(165, 20, 108, 1); */
    width: 70px;
    height: 70px;
    /* position: absolute; */
    margin-top: 200px;
    background-color: rgba(165, 20, 108, 0.7);
    border-radius: 10px;
    /* display: none; */
}


/* Sytling for "Let's go" button */

.button {
    border: rgba(0, 0, 0, 0.7) solid 2px;
    border-bottom: 4px;
    border-right: 4px;
    height: 2em;
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(165, 20, 108, 1);
    color: whitesmoke;
}