@import url("https://fonts.googleapis.com/css2?family=Benne&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

/* ---General--- */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Body*/

body {
  color: rgba(0, 0, 0, 0, 0.7);
  /* font-family: 'Viaoda Libre', cursive; */
  font-family: "Benne", serif;
  font-size: 18px;
  background: url("../images/fronds-1869757_1920.jpg");
  width: 100vw;
  height: 100vh;
  color: white;
}

/* Header */

header {
  /*flex styling to show Help icon in line with text*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  height: 90px;
  width: 100%;
  /* margin-left: -3%; */
  visibility: visible;
}

/* Jazzy Croc picture in the header */

header img {
  height: inherit;
}

/*Footer*/

footer {
    position: fixed;
    bottom: 3%;
    right: 5%;
    font-size: 0.8em;
}

footer span {
    font-family: 'Festive', cursive;
}

/* Main heading (used in the header) */

h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: auto 0;
}

/* Heading 2 (used in the intructions box) */

h2 {
  text-decoration: underline;
  font-size: 22px;
}

/*Styling for instructions and game messages to show as full screen*/

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: scroll;
}

/* Div for messages displaying during the game */

.message-box {
  font-family: "Otomanopee One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  visibility: hidden;
  padding: 30px;
  line-height: 1.3em;
}

/* ---Header--- */

/* Help icon*/

.far {
  color: #b13477;
  font-size: xx-large;
  padding-left: 15px;
}

/* Help icon on hover */

.far:hover,
button:hover {
  transform: scale(120%);
}

/* ---Instructions box--- */

/* Instructions section */

#instructions {
  display: block;
  line-height: 1.3em;
  /* font-size: 1.1em; */
  font-family: "Otomanopee One", sans-serif;
  text-align: center;
}

/* div holding the intructions content */

#instructions-container {
  padding-top: 10vh;
}

/* padding for paragraphs in the instructions box */

p {
  padding: 0 20px;
}

/* Note text in the instructions box */

#note {
  font-size: 0.9em;
  font-style: italic;
  line-height: 1em;
  padding-bottom: 10px;
}

/* --Avatars for player in the instructions box-- */

/* Div for avatars (flext to show in line) */

#avatars {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 50%;
}

.avatar-instructions {
  margin: 5px auto;
}

.avatar-instructions img {
  border: #fafafa solid 2px;
  background: rgba(0, 0, 0, 0.7);
  /* width: 70px; */
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
}

.avatar-instructions:hover {
  transform: scale(200%);
}

/* Sytling for "Let's go" button */

button {
  display: block;
  border: black solid 1px;
  border-radius: 10px;
  height: 2.5em;
  width: 30%;
  font-size: inherit;
  font-family: inherit;
  background-color: rgba(165, 20, 108, 0.85);
  color: white;
  margin-top: 30px;
}

/* adds hover effect to all buttons */

button:hover {
  transform: scale(120%);
}

.controls {
  width: 70px;
  height: 70px;
  padding: 5px;
  font-family: "Otomanopee One", sans-serif;
  list-style: 1.2em;
  font-size: 0.75em;
}

#lets-go {
  margin: auto;
  margin-bottom: 30px;
}

/* ---Main game area */

/* game area section */

#game-area {
  margin: auto;
  /* height: 600px; */
}

#game-container {
  display: flex;
  /* height: 560px; */
  width: max-content;
  margin: 0 auto;
  padding: 20px;
  border: rgba(0, 0, 0, 0, 0.7) solid 1px;
  visibility: visible;
}

/* div at the top of the board to hold results */

#results {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 85%;
}

.result {
  margin-right: 30px;
}

#game-board {
  float: left;
  /* height: inherit; */
  width: auto;
  padding: 20px;
  flex-wrap: wrap;
  margin-left: 5%;
}

.board-edge {
  height: 1em;
  font-size: 1.5em;
  align-content: flex-end;
  padding-top: 10px;
}

#wrapping-top {
  display: flex;
  justify-content: flex-end;
  border-bottom: none;
  /* margin-right: 5px; */
}

/*game board styling */

.board-row {
  display: flex;
  flex-direction: row;
}

.field {
  display: flex;
  align-items: flex-end;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  width: 70px;
  height: 70px;
  border-radius: 10%;
  text-align: right;
  vertical-align: bottom;
  margin: 5px;
  padding: 5px;
  font-size: 28px;
}

/* Styling for avatars when on the board */

img.avatar {
  border: #fafafa solid 1px;
  background: rgba(0, 0, 0, 0.9);
  width: 30px;
  height: 30px;
  margin: auto;
  margin: 0 10px 20px -10px;
  border-radius: 50%;
  align-items: flex-end;
  justify-content: flex-end;
}

/* croc's image */
.ai img {
  border: rgba(0, 0, 0, 0.7) solid 1px;
  background: #fafafa;
}

.avatar:hover {
    transform: scale(150%);
}
img.snake,
img.ladder {
  background: none;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
}

img.snake {
  top: 50px;
  height: 65px;
  /* right: 25px; */
}

img.ladder {
  bottom: 35px;
  left: 0px;
  height: 80px;
  /* width: 60%; */
}

/* Styles for start and end fields */

#f1,
#f25 {
  background-color: rgba(40, 143, 144, 0.8);
  border: rgba(40, 143, 144, 1) solid 1px;
  color: #fafafa;
}

#start-game-btn {
  margin-top: 200px;
}

.dice {
  display: none;
  margin-top: 200px;
}

.dice img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: -5px;
}

/* Adds animation to start button and dice to indicate required action */
@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.85); }
    to { transform: scale(1); }
  }
  
  .fe-pulse-w-pause {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .fe-pulse-w-pause:hover,
  .fe-pulse-w-pause:focus {
    animation-name: unset; 
  }

/* ----Media queries for different sizes of screen---- */

@media screen and (max-width: 650px) {
  /* Changes display of the dice, start and reset buttons to show under the board*/

  #instructions-container {
    padding-top: 5vh;
  }

  #game-container {
    display: flex;
    flex-direction: column;
  }
  #game-board {
    margin-left: 0;
    padding: 0px;
    padding-top: 20px;
  }
  .dice {
    margin: 0 20px;
  }
  #start-game-btn {
    margin: 20px 20px;
  }
  /* displays buttons and dice in one line */
  #controls-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .controls {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 26px;
    margin-left: -5px;
  }
  header img {
    height: 90%;
    width: auto;
  }
  .far {
    padding: 0 12px;
  }
  .field {
    margin: 3px;
  }
  #game-area {
    padding: 5px;
  }
  #game-container {
    padding: 0;
  }
  .board-edge {
    font-size: 1.4em;
  }
  #instructions {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 485px) {
  .field {
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 445px) {
  header {
    height: 70px;
  }
  #instructions {
    font-size: 0.8em;
  }
  .avatar img {
    width: 60px;
    height: 60px;
  }
  .far {
    font-size: x-large;
    padding-left: 7px;
  }
  .board-edge {
    font-size: 1.2em;
  }
  .field {
    width: 60px;
    height: 60px;
    margin: 2px;
    padding: 3px;
    font-size: 24px;
  }
  /* Styling for avatars when on the board */
  img.avatar {
    width: 20px;
    height: 20px;
    margin: auto;
  }
  /* Moves croc's avatar on the smaller boards closer to the center of the field */
  .croc-avatar {
    margin-left: -10px;
  }
  img.snake {
    top: 50px;
    height: 45px;
    margin-bottom: 20px;
    /* right: 25px; */
  }
  img.ladder {
    bottom: 35px;
    margin-left: 10px;
    height: 60px;
    /* width: 60%; */
  }
  .dice img {
    width: 60px;
    height: 60px;
    margin-top: -5px;
  }
  .controls {
    width: 60px;
    height: 60px;
    font-size: 0.75em;
    line-height: 1.2;
  }
  .message-box {
    font-size: 26px;
  }
}

@media screen and (max-width: 400px) {
  /* change header to display within a line and align better with the screen */
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 385px) {
  /* change header to display within a line and align better with the screen */
  h1 {
    font-size: 20px;
  }
  /* resize field to smaller */
  .field {
    width: 50px;
    height: 50px;
  }
  /* reduce font size of the start/end and results info */
  .board-edge {
    font-size: 1.1em;
  }

  /* reduce padding for paragraph in instructions */
  p {
    padding: 0 10px;
  }
  #instructions {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 335px) {
  h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 325px) {
  header {
    height: 60px;
    margin-left: 0;
  }
  #instructions {
    font-size: 0.6em;
  }
  .far {
    padding-left: 5px;
  }
  .board-edge {
    font-size: 1em;
  }
  .field {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }
  img.snake {
    top: 40px;
    height: 45px;
    margin-bottom: 10px;
  }
  img.ladder {
    bottom: 30px;
    height: 50px;
    /* width: 50%; */
  }
  .dice img {
    width: 55px;
    height: 55px;
    /* margin-top: -5px; */
  }
  .controls {
    width: 55px;
    height: 55px;
    font-size: 0.7em;
    margin: 10px 10px;
  }
  #start-game-btn {
    margin: 10px 10px;
  }
  .message-box {
    font-size: 20px;
  }
}

@media screen and (max-width: 305px) {
  h1 {
    font-size: 16px;
  }
  .field {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .board-edge {
    font-size: 0.9em;
  }
  .avatar img {
    width: 50px;
    height: 50px;
  }
}
